<!-- footer -->

{% block content %}

<h1>I AM THE FOOTER</h1>
<div class="py-2" style="background-color:#643885;" ></div>
<section class="text-white text-weight-bold text-center bg-dark ">
    <div class="py-3 text-white" style="font-size:13pt;">
        <!--<a href="{% url 'url_home' %}"><img src="media/images/Logo-Ev-EEEP.png" width="150" class="m-0 p-0"></a> -->
        <p><strong> Nome Empresa </strong> - slogan.</p>
        <p>Escreva algo aqui</p>
    </div>
    <footer class="bg-secondary py-3 mx-auto">
        <p class="mx-2">Copyright &copy; 2019 | Pagína de captura com imagem - Todos os direitos reservados <br><strong> By  Eng. Idelfrides Jorge.</strong></p>
    </footer>
</section>

{% endblock content %}